<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="RadioMusicLibContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=RadioMusicLib;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
